@import 'variable.scss';

.main-content{
  height: 100vh;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.col-right{
    text-align: right;
}
.col-center{
    display: flex;
    justify-content: center;
    text-align: center;

}
.row-top-bottom{
  color: $marron;
    z-index: 5;
    bottom: 0;
    padding: 15px;
    height: 70px;
}
.row-top{
  display: flex;
  justify-items: baseline;
  align-items: center;
top: 0;
}

.logo {
    width: 60px;
    text-align: center;
    margin-top: -10px;
  }


/*******************************************/
/*          DISPLAY MIDDLE AREA            */
/*******************************************/

.display_area {
  position: relative;
  // margin: auto ;
  // width: 80%;
  // border-radius: 10px;
  vertical-align: middle;
  text-align: center;
}
.display_video {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*******************************************/
/*          WELCOME TEXT AREA            */
/*******************************************/
.welcome{
  display: flex;
  justify-content: start;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);

  h1{
    color: $marron;
    font-size: 2em;
  }
}

/*******************************************/
/*               SLIDE SHOW                */
/*******************************************/
.slide-container {
  width: 100%;
  // height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  // min-width: 100%;
  // min-height: 100%;
}



.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  opacity: 0;
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}.react-slideshow-container .nav {

  opacity: 0 !important;
}

