.main{
    /* padding: 25px; */
    margin:auto;
    position: relative;
  /* width: 100%; */

  /* mask: url('../Images/mask-1.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-mode: alpha;   */
  
  }

  /* PADDING */
  .pd-tb{
    padding-top: 10px;
    padding-bottom: 10px;
  }

/* TOP */
.logo img{
  width: 65px;
}
.half-cir{
  

  position: relative;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  text-align: center;
  height: 140px;
  width: 65px;
  margin: auto;
  background-color: rgba(255, 255, 255,.1);
}
.half-cir-right{ 
  border-radius: 90px 0 0 90px;
}
.half-cir-left{
  border-radius: 0 90px 90px 0;
}