body, html{
  min-height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family:Helvetica, sans-serif;
  font-weight: 600;
  background: rgb(194, 194, 194);
  color: rgb(235, 132, 14);
  clip-path: url('./Assets/images/ScreenArea-new.svg');

 
/* }
.svgpathmask{
  height: 100vh;
  width: 100%;
 background-color: #f4f233;
  clip-path: url('#svgPath');
 
}

.svgpathmask video, .svgpathmask svg {
  display: block;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
}
.svgpathmask svg {
  box-sizing: content-box;
  padding: 5px; /* cover up edges of video completely */
  top: -5px; left: -5px;
  overflow: visible;                 
}
 */


.mast-new{
  clip-path:  url('./Assets/images/ScreenArea-new.svg');
  /* mask-position: center;
  mask-repeat: no-repeat;
  mask-mode: auto;  */
 /* mask-size: 100%; */
}
.mask{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    margin:  0 auto; 
    max-width: 100%;
    -webkit-border-radius: 15% / 19%;
    border-radius: 15% / 19%;  
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #752822;
  }
  
  .mask::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
   
    content: "";
    top: 7.5%;
    right: -1.5%;
    bottom: 7.5%;
    left: -1.5%;
    border: none;
    -webkit-border-radius: 5% / 40%;
    border-radius: 5% / 40%;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #752822;
    text-shadow: none;
  }
