body, html{
  min-height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-family:Helvetica, sans-serif;
  background: rgb(31, 31, 31);
  color: rgb(230, 143, 45);
}

.mask{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    margin:  0 auto; 
    max-width: 100%;
    -webkit-border-radius: 15% / 19%;
    border-radius: 15% / 19%;  
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #330502;
  }
  
  .mask::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
   
    content: "";
    top: 7.5%;
    right: -1.5%;
    bottom: 7.5%;
    left: -1.5%;
    border: none;
    -webkit-border-radius: 5% / 40%;
    border-radius: 5% / 40%;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #330502;
    text-shadow: none;
  }
