body, html{
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(250, 250, 250);
}
img{
  width: 100%;

}
.mask-area{
text-align: center;
  margin:  0 auto;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
#service-area{ 
  width: 90%;
  mask: url('./Assets/SpaceAreasvg.svg') no-repeat;
  mask-type: alpha;
  
}
img{
  width: 90%;
  height: auto;
}